
# xrmSliceSP_HT.template

record(ai, "${HOST}:${UUT}:SOE:${ROW}:SP32:${SP}")
{
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))XS_SP32_SP")
    field(SCAN, "I/O Intr")
    field(HOPR, "32767")
    field(LOPR, "-32768")
    field(EGU,  "u32")
}

